<%- include('partials/header') %>

<section class="container auth-page">
  <div class="auth-card">
    <h2>Đăng ký tài khoản</h2>
    <% if (error) { %>
      <p class="alert alert-error"><%= error %></p>
    <% } %>
    <form action="/register" method="POST" class="form">
      <label>Danh Pháp </label>
      <input type="text" name="full_name" required placeholder="Đinh Bộ Lĩnh">

      <label>Email</label>
      <input type="email" name="email" required placeholder="nhapgmailvaoday@gmail.com">

      <label>pát guốt</label>
      <input type="password" name="password" required placeholder="tối thiểu 1000 kí tự">

      <label>pát guốt xác nhận</label>
      <input type="password" name="confirm_password" required placeholder="Nhập lại pát guốt">

      <button type="submit" class="btn btn-primary btn-block">Đăng ký</button>
    </form>
    <p class="auth-switch">Đã có tài khoản? <a href="/login">Đăng nhập</a></p>
  </div>
</section>

<%- include('partials/footer') %>
